<table align="left" style="background-color: blanchedalmond; width: 100%; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
    <tr>
        <th>
                <h1>Convertir numero arábigo a romano</h1>
                <p>Ingrese el numero: </p><br>
                <input type="number" [(ngModel)]='arabic'/>
                <button (click)="convertirNro()" >Calcular</button>
                <h2 style="color:black">RESULTADO:</h2>
                <h1 style="color:darkcyan"><p><span id="result"></span></p></h1>
        </th>
    </tr>

</table>

